[submodule "setups/thirdparty/Manifold"]
	path = setups/thirdparty/Manifold
	url = https://github.com/hjwdzh/Manifold
[submodule "setups/thirdparty/VideoRecorder"]
	path = setups/thirdparty/VideoRecorder
	url = https://github.com/CoppeliaRobotics/videoRecorder
